body {
    margin: 0;
    padding: 0;
}

#home {
    margin-left: 20%;
    margin-top: 10vh;
    height: 80vh;
    width: 60%;
}

.upperSec {
    background-color: beige;
    display: flex;
    flex-direction: row;
}

.window {
    height: 10vh;
    width: 25vh;
    background-color: aquamarine;
    border-radius: 20px;
    border: solid 3px black;
}

.midSec {
    background-color: beige;
}

.lowerSec {
    background-color: beige;
}

h2 {
    font-size: 100px;
    margin: 10px;
    padding: 0;
}

#logos{
    position: fixed;
}

#logos h4{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#logo{
  width: 10vh;
  height: 10vh;
  top: 2%;
  left: 1%;
}


#brands{
    display: flex;
    justify-content:space-evenly;
    position:fixed;
    right: 1%;
    top: 2%;
    width: 20vh;
    height: 3vh;

}

#insta, #facebook, #linkedin {
    width: 3vh;
    height: 3vh;
}

